<header>
    <nav>
        <a href="/">Fantasy Formula One</a>
        <ul>
            <li><a href="/driverSelections">View Selections</a></li>
            <li><a href="/driverSelections/new">New Driver Selection</a></li>
        </ul>
    </nav>
</header>